.header-container {
  display: flex;
  align-items: center;
  background-color: var(--grey-10);
  box-shadow: var(--shadow);
  .logo-container {
    padding: 7px;
    display: flex;
    width: var(--header-height);
    height: 100%;
    box-shadow: inset var(--shadow-subtle-right);
    text-align: center;
    background-color: var(--accent);
    &:hover img {
      transform: rotateY(180deg);
      cursor: pointer;
    }
  }
  img {
    flex: 1 0 auto;
    width: 40px;
    filter: brightness(0) invert(1);
    transition: all 0.5s;
  }
  h1 {
    padding-left: calc(var(--sp) * 1.5);
    letter-spacing: -1px;
  }
}
