.articles-list-container {
  border-right: $border;
  background-color: $gray-15;
  article {
    border-bottom: $border;
    padding: $sp;
    padding-top: 8px;
    position: relative;
    transition: all 0.3s;
    h2 {
      font-size: 1em;
      margin-bottom: 3px;
    }
    p {
      margin-bottom: 0;
      line-height: 1em;
      // line clamp
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &:after {
      content: ' ';
      display: none;
      --side: 12px;
      width: var(--side);
      height: var(--side);
      border: 1px solid $secondary;
      border-top: none;
      border-right: none;
      position: absolute;
      background: $content-bg;
      // math is 1/2 the hypotenuse
      bottom: calc(50% - (var(--side) / 2));
      right: calc(var(--side) / -2 - 1px);
      transform: rotate(45deg);
    }
    &:hover {
      border-left: 3px solid $hot;
    }
  }
}
