footer {
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: -15px;
  z-index: 7000;
  width: calc(0.75 * (100% - 60px));
  background-color: #f7f7f7;
  border-top: $border;
  input {
    width: calc(100% - 60px);
  }
  button {
    margin-left: -22px;
  }
}

.notification {
  background-color: $gray-20;
  border-radius: var(--radius);
  border: 1px solid $hot;
  padding: 10px 15px;
  width: calc(100% - 43px);
  position: absolute;
  top: calc(-100% + 5px);
  z-index: 2000;
  p {
    margin: 0;
  }
  &.error {
    border: 1px solid $gray-60;
  }
}
