.content-container {
  padding: 1.5rem;
  background: $content-bg;
  .article-image {
    padding-top: 30px;
    text-align: center;
    .image {
      display: inline-block;
      width: 100%;
      max-width: 500px;
      height: 200px;
      background: $accent-mid;
    }
  }
  figcaption {
    width: 100%;
  }
}
