footer {
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: -15px;
  z-index: 7000;
  width: calc(0.75 * (100% - 60px));
  background-color: #f7f7f7;
  border-top: $border;
  input {
    width: calc(100% - 60px);
  }
  button {
    margin-left: -22px;
  }
}

.notification {
  background-color: #ffffff;
  border-radius: var(--radius);
  border: 1px solid $hot;
  padding: 10px 15px;
  width: calc(100% - 43px);
  position: absolute;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
  box-shadow: $shadow-subtle;
  p {
    margin: 0;
    display: inline-block;
  }
  &.error {
    border: 1px solid $gray-60;
  }
  p.close {
    font-weight: bold;
    &:hover {
      transform: scale(1.1);
    }
  }
  &.closing {
    opacity: 0;
    transform: scale(0);
    z-index: 0;
  }
  &.opening {
    top: calc(-100% + 5px);
  }
}
