form {
  transition: var(--transition-fast);
  padding-right: 0px;
  &:hover {
    input {
      border-color: var(--accent);
    }
    button {
      border-color: var(--accent);
      background-color: var(--accent);
      color: white;
    }
  }
}

input {
  font-family: var(--font-stack-forms) !important;
  padding: var(--sp) 15px;
  font-size: 1.11em;
  height: 40px;
  border: var(--border-dk);
  border-radius: 3px;
  box-shadow: var(--shadow-subtle);
  background-color: var(--grey-00);
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--grey-00) inset !important;
  }
  &:focus,
  &:active {
    padding: 7px 9px;
    outline: none;
    border: 2px solid var(--accent);
    background-color: rgba(var(--accent), 0.05);
  }
  &.hasUnsentContent {
    border-color: var(--accent);
  }
}
button {
  padding: 0px 12px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: var(--font-stack-forms);
  color: var(--grey-80);
  border-radius: 3px;
  height: 40px;
  background: var(--main-bg);
  border: 2px solid var(--grey-70);
  box-shadow: var(--shadow-subtle);
  &:focus {
    outline: none;
  }
  &.loading {
    border-color: var(--accent);
    background-color: var(--accent);
    color: white;
    border: 0px;
  }
}
