body {
  padding-top: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.header-container {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10000;
  top: 0;
  display: flex;
  align-items: center;
}

.main-container {
  // border: 1px solid green;
  position: relative;
  display: flex;
  min-height: calc(100vh - 60px);
}

.nav-container {
  padding-top: $sp;
  flex: 1 0 60px;
  background-color: $accent-dark;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .workspace-img {
    width: 40px;
    height: 40px;
    background-color: $accent-light;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  p {
    color: $accent-light;
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.articles-list-container {
  padding: 0;
  width: 25%;
  flex: 1 0 auto;
}

.content-container {
  position: relative;
}
