body {
  padding-top: var(--header-height);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.header-container {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 10000;
  top: 0;
}

.main-container {
  min-height: calc(100vh - var(--header-height));
}

.nav-container {
  flex: 1 0 var(--header-height);
  width: var(--header-height);
}

.articles-list-container {
  padding: 0;
  width: var(--article-list-width);
  flex: 1 0 auto;
}

.content-container {
  position: relative;
}
